// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar_selection {
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
}